img{
  width:50%;
}

body{
  font-family:'Merriweather', serif;
  padding: 2em;
  text-align: center;
}

h1{
  font-family: 'Bangers', cursive;
  font-size: 60px;
  color: crimson;
  line-height: 1.75;
}

h2{
  font-family: 'Bangers', cursive;
  color: crimson;
  font-size: 36;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  line-height: 1.75;
}

h3{
  font-family: 'Bangers', cursive;
  color: crimson;
  font-size: 26;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  line-height: 1.75;
}

a{
  padding: 1em;
  margin: 1em;
  font-family: 'Bangers', cursive;
  font-size: 20px;
  background-color: white;
  color:black;
  text-decoration: none;
  border: 1px solid white;
  border-radius: 10px;
}

a:hover{
  border:1.95px solid crimson;
}

.normal{
    font-family:'Merriweather', serif;
    font-size: 16px;
    padding: 0em;
    border: 0px;
    border-radius: 0px;
    border-color: none;
    margin: 0em;
    background-color: none;
    text-decoration: none;
    color: crimson;
    line-height: 1.75;
}

.normal:hover{
  border: none;
  color: black;
  line-height: 1.75;
}

#text{
  text-align: left;
  margin: 0px 10em 0px 10em;
  line-height: 1.75;
}

#links{
  text-align: left;
  margin: 0px 10em 0px 10em;
  line-height: 1.75;
}

li{
  margin: 0px 10em 0px 10em;
  line-height: 1.75;
}

.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.caption{
  font-size: 12;
  line-height: 2.5;
}